<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <title>Boolzap</title>
</head>
<body>
  <div id="app">

    <header>
      <div class="container d-flex wrap">

        <!-- menu-up -->
        <div class="menu-up d-flex">

          <div class="menu-sx-up d-flex wrap">

            <div class="nome-utente d-flex wrap">
              <div class="img-utente">
                <img src="./img/avatar_io.jpg" alt="Sofia">
              </div>
              <span>Sofia</span>
            </div>

            <div class="imp-utente">
              <i class="fa-solid fa-circle-notch"></i>
              <i class="fa-solid fa-message"></i>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>

          </div>

          <div class="menu-dx-up d-flex wrap">

            <div class="utente-attivo d-flex wrap">
              <div class="img-utente">
                <img :src="`img/avatar_${contatore +1}.JPG`" alt="profilo attivo">
              </div>
              <div class="nome-ut-attivo">
                <p>{{contatti[contatore].name}}</p>
              </div>
            </div>

            <div class="imp-menu-dx">
              <div class="imp-utente">
                <i class="fa-solid fa-magnifying-glass"></i>
                <i class="fa-solid fa-paperclip"></i>
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </div>
            </div>
          </div>

        </div>

        <!-- menu-sx-contatti -->

        <div class="menu-sx">

          <div class="dis-not d-flex wrap">
            <div class="mute-box d-flex">
              <i class="fa-solid fa-bell-slash"></i>
            </div>
            <div>
              <p>Ricevi notifiche di nuovi messaggi</p>
              <a href="#">Attiva notifiche desktop</a>
            </div>
          </div>

          <div class="cerca-cont">
            <button>
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <input class="inp-cerca" type="text" placeholder="Cerca o inizia una nuova chat">
          </div>

          <div class="contatti">

            <div
             @click="profAttivo(index)"  
             v-for="(user, index) in contatti"
             class="card-contatto d-flex wrap"
             :class="{'active': contatore === index}">
              
              <div class="d-flex wrap" >
                
                 <div class="img-utente-chat">
                  <img :src="imgInd(index)" :alt="user.name">
                </div>

                <div class="nome-conttatto">
                  <span>{{user.name}}</span>
                  <p class="ultimo-mex">{{user.messages[user.messages.length - 1].message}}</p>
                </div>

              </div>

              <div class="orario-ult-mex">
                <span>{{user.messages[user.messages.length - 1].date}}</span> 
              </div>



            </div>

          </div>

        </div>
        <!-- menu-dx-chat -->
        <div class="menu-dx d-flex wrap">

          <div class="chat">
            <div  
              v-for="itemMess in contatti[contatore].messages"
              class="mess d-flex">
              <div 
                :class="itemMess.status">
                  <span>{{itemMess.message}}</span>
                  <p class="data-mex">{{itemMess.date}}</p>
              </div>
            </div>

          </div>

          <div class="scr-mex w100 d-flex">
            <i class="fa-regular fa-face-smile"></i>
            <input
              v-model.trim="newMessage" 
              @keyup.enter="sendMessage()"
              class="inp-mex" type="text" placeholder="Scrivi messaggio">
            <i class="fa-solid fa-microphone"></i>
          </div>
          
        </div>
      </div>
    </header>

  </div>
  

  <script src="./script.js"></script>
</body>
</html>